{% extends 'det_style/layout.html' %}
{% block content %}

    {% if file_not_selected %}
        <div class="alert alert-danger" role="alert">
            {{ file_not_selected }}
        </div>
    {% endif %}

    <div class="row">
        <div class="col-sm">
            <form id="myform" class="box" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="box__input">
                    <i class="fas fa-file-upload fa-7x box__icon"></i>
                    <input class="box__file" type="file" name="myfile" id="file" accept="image/*">
                    <label for="file"><strong>Choose a file</strong><span
                            class="box__dragndrop"> or drag it here</span>.</label>
                    <button class="box__button in-form" type="submit">Upload</button>
                </div>
                <br>
                {% if uploaded_file_url %}
                    <p>Upload Complete</p>
                {% endif %}
                <input class="hidden_input" type="text" name="painting_id">
                <input class="hidden_input" type="text" name="selected_mode">
            </form>
        </div>

        <div class="col-sm">
            <img id="upload_placeholder" class="img-fluid" src="#"/>
        </div>
    </div>

    <b class="hr"></b>

    <h3>Select the desired painting.
        <br>
        Click on one of the following paintings.</h3>


    {% for list_of_paintings in paintings_to_send %}
        <div class="row">
            {% for painting in list_of_paintings %}
                <div class="col-sm">
                    <div id="{{ painting.id }}" class="card painting">
                        <i class="fas fa-check-circle fa-5x"></i>
                        <img src="{{ painting.image_path }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ painting.name }}</h5>
                            <p class="card-text">{{ painting.author }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}

    <b class="hr"></b>
    <h3>Select if you'd like your face OR the background to be painted in the style of your chosen painting.</h3>
    <div class="card-deck">
        <div id="inside" class="card inside_outside">
            <i class="fas fa-check-circle fa-5x"></i>
            <img src="../../static/det_style/static_images/k1.jpg" class="card-img-top"
                 alt="Inside">
            <div class="card-body">
                <h5 class="card-title">Style my face! (and not the background)</h5>
            </div>
        </div>
        <div id="outside" class="card inside_outside">
            <i class="fas fa-check-circle fa-5x"></i>
            <img src="../../static/det_style/static_images/k2.jpg" class="card-img-top"
                 alt="Outside">
            <div class="card-body">
                <h5 class="card-title">Style the background! (and not the face)</h5>
            </div>
        </div>
    </div>

    <button id="submitforstyle" type="button" value="Submit" class="btn btn-primary">Style my image!</button>

    <div id="loading_element" class="loader loader-default" data-text="Please wait while our little artist is painting you! You will be redirected to the styled image when it's done!"></div>

{% endblock %}